data/return_times_mean_BR_N100_tol0.001.npy
data/return_times_mean_BR_N100_tol0.01.npy
data/return_times_mean_BR_N200_tol0.001.npy
data/return_times_mean_BR_N200_tol0.01.npy
data/return_times_mean_BR_N400_tol0.001.npy
data/return_times_mean_BR_N400_tol0.01.npy
data/return_times_mean_QR_N100_tol0.001.npy
data/return_times_mean_QR_N100_tol0.01.npy
data/return_times_mean_QR_N200_tol0.001.npy
data/return_times_mean_QR_N200_tol0.01.npy
data/return_times_single_BR_N100_tol0.001.npy
data/return_times_single_BR_N100_tol0.01.npy
data/return_times_single_BR_N200_tol0.001.npy
data/return_times_single_BR_N200_tol0.01.npy
data/return_times_single_BR_N400_tol0.001.npy
data/return_times_single_BR_N400_tol0.01.npy
data/return_times_single_QR_N100_tol0.001.npy
data/return_times_single_QR_N100_tol0.01.npy
data/return_times_single_QR_N200_tol0.001.npy
data/return_times_single_QR_N200_tol0.01.npy
